<!--========================-->
<!--========| CONTACT |=====-->
<!--========================-->

<section>
    <div class="contact">
       <h4 class="contact-text">Vous avez une question ? <br>
       Vous voulez reserver ? <br>
       Savoir qui a fait ce site ?</h4> 
       <div class="contact-btn">Contactez moi</div>
    </div>
</section>