<!--========================-->
<!--========| CONTACT |=====-->
<!--========================-->

<section class="contact">

    <div class="contact-container hide">
       <h4 class="contact-text">Vous avez une question ? <br>
       Vous voulez reserver ? <br>
       Savoir qui a fait ce site ?</h4> 
       <a href="{{'/contform/' | url}}" alt="vers formulaire de contact"><div class="contact-btn">Contactez moi</div></a>
    </div>
    
</section>