<div class="dropdown filters-dropdown">

    <button class="btn btn-secondary dropdown-toggle filter-button" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Appliquez un filtre
    </button>

    <ul class="dropdown-menu filters-tab" aria-labelledby="dropdownMenuButton1">
        {% for photo in collections.photos %}
        <li><div class="dropdown-item filter" onclick="applyfilter('{{photo.data.photo_categorie}}')">photo.data.photo_categorie</div></li>
        {% endfor %}
       <!--  <li><div class="dropdown-item filter" onclick="applyfilter('grossesse')">Grossesse</div></li>
        <li><div class="dropdown-item filter" onclick="applyfilter('bebe')">Bébé</div></li>
        <li><div class="dropdown-item filter" onclick="applyfilter('famille')">Famille</div></li>
        <li><div class="dropdown-item filter" onclick="applyfilter('evenement')">Evenements</div></li>
        <li><div class="dropdown-item filter" onclick="applyfilter('couple')">Couple</div></li>
        <li><div class="dropdown-item filter" onclick="applyfilter('solo')">Solo</div></li> -->
        <li><hr class="dropdown-divider"></li>
        <li><div id="restaure" class="dropdown-item filter" onclick="applyfilter('restaure')">Restaurer</div></li>
    </ul>

</div>