<!--========================-->
<!--========| FOOTER |======-->
<!--========================-->

<footer>
    <div class="footer-social">
        <!-- Pensez a mettre les lien sociaux -->
        <a href="https://www.facebook.com/"><img class="footer-social-logo" src="../assets/pics/fb-wte.png" alt="facebook"></a>
        <a href="https://www.instagram.com/"><img class="footer-social-logo" src="../assets/pics/insta-wte.png" alt="instagram"></a>
    </div>
    <h2 class="footer-title">Charles Cantin</h2>
    <p class="footer-description">Photographe bien mais pas top</p>
    <p class="footer-adress">CC Studio<br>20 rue Cenek Moua<br>99000 Saint-Necisste-Pas</p>
    <p class="footer-tel">+33 6 14 18 39 45</p>

    <p class="footer-copyright">&copy; 2022 CC Studios | Charle Cantin</p>  
</footer>