<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- META COMPATIBILITE -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 

    <!-- META REF -->

    <meta name="description" content="Charles Cantin photographe presque pro, bien mais pas top">
    <meta name="subject" content="Charles Cantin photographe">
    <meta name="robots" content="index, follow">

    <!-- META SOCIAL-->

      <!-- Card meta pour Twitter -->

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Cantin_Photo">  <!--compte fictif-->
    <meta name="twitter:title" content="CCANTIN | Photo">
    <meta name="twitter:description" content="Charles Cantin photographe presque pro, bien mais pas top">
    <meta name="twitter:image:src" content="../assets/pics/ccantin-photo.jpg">

      <!-- Meta pour Facebook -->

    <meta property="og:title" content="CCANTIN | Photo">
    <meta property="og:url" content="https://ccantin-photo.netlify.app/">
    <meta property="og:image" content="https://ccantin-photo.netlify.app/assets/pics/ccantin-photo.jpg">
    <meta property="og:description" content="Charles Cantin photographe presque pro, bien mais pas top">
    <meta property="og:site_name" content="Charles Cantin Photo">
    <meta property="og:type" content="site web">

    <!-- LINK FONT-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- LINK BOOTSTRAP -->

    <link rel="stylesheet" href="{{'/assets/bootstrap/bootstrap.min.css' | url }}">
    <link rel="stylesheet" href="{{'/assets/css/bootstrap-custom.css' | url }}">

    <!-- LINK CSS -->

    <link rel="stylesheet" href="{{'/assets/css/default.css' | url }}">

    <!-- LINK / TITLE -->

    <link rel="icon" type="image/png" href="../assets/pics/charle-logo-contrast.png">
    <title>CCantin | {{pageTitle}}</title>
</head>
<body>

{% include "navbar.njk" %}
{{ content | safe }}
{% include "footer.njk" %}

<!--========================-->
<!--========| SCRIPTS |=====-->
<!--========================-->

<script src="{{'/assets/bootstrap/bootstrap.bundle.min.js' | url }}"></script>
<script src="{{'/assets/js/script.js' | url }}"></script>    
</body>
</html>