<section class="presenation">

    <div class="container-fluid presentation-container">
        <div class="row presentation-row">
            <div class="col-md-6 presentation-main">
                <h2 class="presentation-title">Photographe professionnel independant et passioné</h2>
                <img class="presentation-pic" src="../assets/pics/fb-blk.png" alt="logo facebook">
                <img class="presentation-pic" src="../assets/pics/insta-blk.png" alt="logo instagram">
            </div>
            <div class="col-md-6 presentation-title-logos">
                <p class="presenation-text">L'art de capturer un instant, une seconde, c'est ma vision de la photographie, ma philosophie<br>
                                            Je vous propose de sublimer les meilleurs moment de votre vie au travers de mes objectifs.<p>
                <p class="presenation-text">Quelque soit le moment a capturé se seras fait a la perfection.<p>

            </div>
        </div>
    </div>

</section>