<!--========================-->
<!--========| OPEN |========-->
<!--========================-->

<section class="presenation">

    <div class="container-fluid presentation-container">
        <div class="row presentation-row">
            <div class="col-md-6 presentation-main">
                <h2 class="presentation-title">Photographe semi-professionnel bien mais pas top</h2>
                <!-- Pensez a mettre les lien sociaux -->
                <img class="presentation-pic" src="../assets/pics/fb-blk.png" alt="logo facebook">
                <img class="presentation-pic" src="../assets/pics/insta-blk.png" alt="logo instagram">
            </div>
            <div class="col-md-6 presentation-title-logos">
                <p class="presenation-text">Depuis tout petit j'aime epié les gens au travers de trous etroit et appuyer sur de petits boutons,
                                            la passion de la photographie s'est donc purement imposé à moi.<br>
                                            En parallèle de mon metier d'artisan peintre-boucher (on est pas beaucoup) j'ai décidé de proffesionaliser 
                                            ma pratique de ce merveilleux huitième art, afin de sublimer vos instant, 
                                            de plonger vos moment dans l'onirisme de mon univers.<p>
                <p class="presenation-text">Votre vie au travers de mon tendre objectif sera plus belle encore qu'une cote de boeuf marrouflée.<p>

            </div>
        </div>
    </div>

</section>