/*=================================================
=============| G L O B A L |=======================
=================================================*/

@font-face {
    font-family: 'tipo1';
    src: url(../font/TheStudent.ttf);
}

body {
    font-family: 'tipo1';
    background-color: #dee2e6;
    color: #242424;
}

/*=================================================
=============| INDEX HEADER |=======================
=================================================*/

