/*=================================================
=============| G L O B A L |=======================
=================================================*/

@font-face {
    font-family: 'tipo1';
    src: url(../font/TheStudent.ttf);
}

body {
    font-family: 'tipo1';
}

/*=================================================
=============| INDEX HEADER |=======================
=================================================*/

.header .header-container{

}

.header .header-container 
.header-img{
    
}