/*=================================================
=============| G L O B A L |=======================
=================================================*/
:root {
    --light      : #dee2e6; /* idem --bs-gray-300 */
    --dark       : #212529; /* idem --bs-gray-900 */
    --light-dark : #ced4da; /* idem --bs-gray-400 */
    --kontrast   : #20c997; /* idem --bs-teal */
  
}


body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    min-width: 360px;
}

/*=================================================
=============| INDEX HEADER |======================
=================================================*/
header {
    position: relative;  
}

header .header-container {
    padding: 0;
}
header .header-pic {
    width: 100%;
    height: auto;
}

header .header-title {
    color: var(--kontrast);
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-size: 1.5em;
    letter-spacing: 8px;
    width: 360px;
    height: 40px;
    text-align: center;
    /* idem --bs-purple */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px ;   
    margin-left: -180px;
} 


header .header-title 
.header-sub-title {
    font-size: 0.6em;
    letter-spacing: 16px;
}

/*=================================================
=============| INDEX PRESENTATION |================
=================================================*/

.presentation-container {
    padding: 15px;
    text-align: center;
}

.presentation-title, 
.presenation-text {
    text-align: left;
}


.presentation-pic {
    height: 35px;
    margin: 20px;
    opacity: 0.85;
    cursor: pointer;
}

/*=================================================
=============| CONTACT US |========================
=================================================*/

.contact {
    background: var(--light-dark);
    height: 250px;
    text-align: center;
    padding: 10px;
    padding-top: 25px; 
    padding-bottom: 25px;
}

.contact-text {
    letter-spacing: 2px;
    padding-top: 20px;
    margin-bottom: 35px;
}

.contact-btn {
    color: var(--light);
    background: var(--dark);
    padding: 10px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

/*=================================================
=============| FOOTER |============================
=================================================*/

footer {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: var(--dark);
    color: var(--light);
    font-size: 0.9em;
}
footer p {
    font-size: 0.9em;
}

.footer-social .footer-social-logo {
    height: 35px;
    margin: 20px;
    opacity: 0.85; /* pour s'approcher de la couleur --light */
    cursor: pointer;
}

.footer-title {
    font-size: 1.2em;
    letter-spacing: 8px;
    margin-bottom: 0;
    color: var(--kontrast);
    border-top: 1px var(--light) solid;
    padding-top: 15px;
}

.footer-tel {
    color: var(--kontrast);
    letter-spacing: 4px;
    font-weight: bold;
}

