---
layout: layout.njk
pageTitle: Contact
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header-form">
    <div class="container-fluid form-header-title-container">
        <div class="row form-header-row">
            <div class="col-md-6 form-header-title">
                <h2 class="prices-title">Contactez moi, je suis la pour vous.</h2>
            </div>
            <div class="col-md-6 form-header-texts">
                <p class="form-header-text"> Quelque soit vos demandes ou vos envies je suis la pour 
                    mettre des mots sur toutes vos interrogations. Pour les evenements, mariage, incineration, achat d'une nouvelle voiture 
                    ou autre, merci de m'expliquer la nature de votre projet dans le champs reserver a cette effet que je puisse vous faire 
                    suivre un devis aussi rapidement que possible.  
                    <p>

            </div>
        </div>
    </div>
</header>

<!--========================-->
<!--========| FORMULAIRE |==-->
<!--========================-->

<section class="contact-section">
    <div class="form-body">
        <form class="form" action="">

            <div class="form-name-div">
                <div class="first-name">
                    <input class="first-name-input" type="text" name="first-name" placeholder="Prenom" required >
                </div>
                <div class="last-name">
                    <input class="last-name-input" type="text" name="last-name" placeholder="Nom" required >
                </div>
                <input class="email-input" type="email" name="email" placeholder="Adresse Mail" required />
            </div>

            <div class="selection-div">
                <label class="selection-label" for="prestation">Choix de prestation</label><br>
                <select class="selection-dropdown" name="prestation">
                    {% for card in collections.cards %}
                    <option class="selection-options" value="{{card.data.card_title}}">{{card.data.card_title}}</option>
                    {% endfor %}
                    <option class="selection-options" value="demande de devis">Demande de devis</option>
                </select>
            </div><br>
    
            <textarea class="com-input" placeholder="vos demandes ou commentaires"></textarea><br>
            
            <div class="button-center-div">
            <button class="form-button" type="submit">Envoyer</button>
            </div>

        </form>
    </div>
</section>