---
layout: layout.njk
pageTitle: Gallery
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header-prices">
    <div class="container-fluid prices-title-container">
        <div class="row prices-row">
            <div class="col-md-6 prices-header-title">
                <h2 class="prices-title">Mon porte-folio, l'endroit de votre révalation. vous êtes magnifique.</h2>
            </div>
            <div class="col-md-6 prices-texts">
                <p class="prices-text"> chaque pression sur le declencheur de mon appareil vous revele au monde emprunt 
                    d'une beautée et d'une pureté que vous ne soupçonniez pas. Vous êtes unique, magnifique et parfait, 
                    et c'est mon role de vous le montrer. 
                    <p>

            </div>
        </div>
    </div>
</header>

<!--========================-->
<!--=======| FILTRE |=======-->
<!--========================-->

<section class="filter-top">

    {% include "filter.njk" %}

</section>

<!--========================-->
<!--=======| GALLERY |======-->
<!--========================-->
<section class="gallery">

    <div class="gallery-container">
    {% for photo in collections.photos %}
        <div class="div-photo {{photo.data.photo_categorie}}"><img src="{{photo.data.the_photo}}" class="photo {{photo.data.photo_categorie}}" alt=""></div>
    {% endfor %}
    </div>

</section>

<section class="filter-bottom">

    {% include "filter.njk" %}

</section>

{% include "contact-us.njk" %}