---
layout: layout.njk
pageTitle: Acceuil
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header-index">
    <div class="container-fluid header-index-container" >
        <h1 class="header-index-title">
            CHARLES CANTIN<br>
            <span class="header-index-sub-title">Photographe</span>
            </h1>
        <img class="header-index-pic" src="assets/pics/girl-playing.jpg" alt="a girl playing video game"> 
    </div>
</header>

{% include "presentation.njk" %}

{% include "contact-us.njk" %}
