---
layout: layout.njk
pageTitle: Acceuil
---

<header class="header">
    <div class="container-fluid header-container" >
        <img class="header-img" src="assets/pics/forest.jpg" alt="a forest picture">
    </div>
</header>