---
layout: layout.njk
pageTitle: Acceuil
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header">
    <div class="container-fluid header-container" >
        <h1 class="header-title">
            CHARLES CANTIN<br>
            <span class="header-sub-title">Photographe</span>
            </h1>
        <img class="header-pic" src="assets/pics/girl-playing.jpg" alt="a girl playing video game"> 
    </div>
</header>

<!--========================-->
<!--========| OPEN |========-->
<!--========================-->

{% include "presentation.njk" %}