---
layout: layout.njk
pageTitle: Prices
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header-prices">
    <div class="container-fluid prices-title-container">
        <div class="row prices-row">
            <div class="col-md-6 prices-header-title">
                <h2 class="prices-title">Mes tarifs, mes prestations, vos envies</h2>
            </div>
            <div class="col-md-6 prices-texts">
                <p class="prices-text">Que vous soyez seul, en slip de cuire dans une foret brumeuse au première lueur du matin, 
                    Avec votre famille en train de manger des gauffres degoulinantes d'une pate brune extremement sucrée ou simplement
                    avec votre ame soeur ou votre meilleur ami, je serais le photographe, vous serrez la star.<br>
                    Parcourez mes prestations afin de trouvez votre bohneur.
                    <p>

            </div>
        </div>
    </div>
</header>

<!--========================-->
<!--=======| CARDS |=======-->
<!--========================-->

<section class="cards-section">


   {% for card in collections.cards %}

        <div class="card-body">
            <div class=card-pic-div>
                <img src="{{card.data.card_picture}}" class="card-pic" alt="{{card.data.descritpion_image}}">
            </div>
            <div class="card-description">
                <h2 class="card-title">{{card.data.card_title}}</h2>
                <p class="card-text">{{card.data.card_description}}</p>
            </div>
            <div class="card-price-div">
                <span class="card-price">{{card.data.card_price}}</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>

    {% endfor %}

</section>