---
layout: layout.njk
pageTitle: Prices
---

<!--========================-->
<!--=======| HEADER |=======-->
<!--========================-->

<header class="header-prices">
    <div class="container-fluid prices-title-container">
        <div class="row prices-row">
            <div class="col-md-6 prices-header-title">
                <h2 class="prices-title">Mes tarifs, mes prestations, vos envies</h2>
            </div>
            <div class="col-md-6 prices-texts">
                <p class="prices-text">Que vous soyez seul, en slip de cuire dans une foret brumeuse au première lueur du matin, 
                    Avec votre famille en train de manger des gauffres degoulinantes d'une pate brune extremement sucrée ou simplement
                    avec votre ame soeur ou votre meilleur ami, je serais le photographe, vous serrez la star.<br>
                    Parcourez mes prestations afin de trouvez votre bohneur.
                    <p>

            </div>
        </div>
    </div>
</header>

<!--========================-->
<!--=======| CARDS |=======-->
<!--========================-->

<section class="cards">


    <!--========= S O L O ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/solo.png" class="card-pic" alt="bonhome seul">
            </div>
            <div class="card-description">
                <h2 class="card-title">Juste moi</h2>
                <p class="card-text">Juste vous, moi, mon objectif et mon regard,
                    ou vous voulez, quand vous voulez.
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">130 €</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>

    <!--========= D U O ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/duo.png" class="card-pic" alt="deux bonhomes">
            </div>
            <div class="card-description">
                <h2 class="card-title">Pour deux</h2>
                <p class="card-text">Avec votre ame soeur ou votre meilleurs amis,
                    en exterieur ou interieur.
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">195 €</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>


    <!--========= F A M I L L E ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/familly.png" class="card-pic" alt="famille">
            </div>
            <div class="card-description">
                <h2 class="card-title">Famille</h2>
                <p class="card-text">Pour quatre, 30€ par personne supp.
                    (sauf enfant moins de 2ans). En famille ou entre amis. 
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">220 €</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>




    <!--========= B E B E ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/bebe.png" class="card-pic" alt="un bébé">
            </div>
            <div class="card-description">
                <h2 class="card-title">Mon Bébé</h2>
                <p class="card-text">Enfant de moins de 3ans, 
                    je me deplace chez vous.
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">100 €</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>

    <!--========= E N C E I N T E ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/enceinte.png" class="card-pic" alt="femme enceinte">
            </div>
            <div class="card-description">
                <h2 class="card-title">Il était une fois</h2>
                <p class="card-text">Chaque grosses est unique, mon regard dessus aussi.
                    Chez vous, en studio ou en extérieur
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">160 €</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>

    <!--========= E V E N T ===========-->

        <div class="card-body">
            <div class=card-pic-div>
                <img src="../assets/pics/group.png" class="card-pic" alt="bonhome seul">
            </div>
            <div class="card-description">
                <h2 class="card-title">Evenements</h2>
                <p class="card-text">Mariage, baptême, enterrement, je shoot tout.
                    devis (80€) sur demande.
                </p>
            </div>
            <div class="card-price-div">
                <span class="card-price">Sur demande</span>
            </div>

            <a href="{{'/contform/' | url}}" alt="vers formulaire de contact">
            <div class="contact-btn">Reserver</div>
            </a>
        </div>
       


</section>